@font-face {
    font-family: 'NEXON_bold';
    src: url('https://github.com/hohyenho/webfont/blob/main/NEXON%20Lv1%20Gothic_OTF_TTF/OTF/NEXON%20Lv1%20Gothic%20OTF%20Bold.otf') format('otf');
    font-weight: 900;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON_reg';
    src: url('https://github.com/hohyenho/webfont/blob/main/NEXON%20Lv1%20Gothic_OTF_TTF/OTF/NEXON%20Lv1%20Gothic%20OTF.otf') format('otf');
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON_Light';
    src: url('https://github.com/hohyenho/webfont/blob/main/NEXON%20Lv1%20Gothic_OTF_TTF/OTF/NEXON%20Lv1%20Gothic%20OTF%20Light.otf') format('otf');
    font-weight: 100;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Gothic_L';
    font-style:' normal';   
    src: url("https://github.com/hohyenho/webfont/blob/main/NanumFontSetup_OTF_SQUARE/NanumSquareL.otf)")  format('otf');    
}
@font-face {
    font-family: 'Nanum Gothic_B';
    font-style: 'normal';
    src: url("https://github.com/hohyenho/webfont/blob/main/NanumFontSetup_OTF_SQUARE/NanumSquareB.otf");    
}
@font-face {
    font-family: 'Nanum Gothic_EB';
    font-style: 'normal';
    src: url("https://github.com/hohyenho/webfont/blob/main/NanumFontSetup_OTF_SQUARE/NanumSquareEB.otf");    
} 

 